.usersTable {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.usersRow {
    display: flex;
}

.usersCell {
    width: 100%;
    border: 1px solid #c9b9b9;
}