.Form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 8px;
    align-items: baseline;

    label{
        margin-bottom: 10px;
    }

    input {
        margin-left: 20px;
    }
}