.header {
    display: flex;
    flex-direction: column;
    nav {

        border-top: 2px solid rgb(158, 168, 173);
        border-bottom: 2px solid rgb(158, 168, 173);
        width: 100%;
        margin-bottom: 30px;
        ul {
            margin: 0;
            padding: 30px;    
            list-style: none;
            display: flex;
            max-width: 1200px;
            margin: 0 auto;
            width: 100%;
            justify-content: space-between;
    
            a {
                color: rgb(56, 38, 211);
                text-decoration: none;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }


}